* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Header and Hero Section*/

.hero-section {
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 96vh;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-family: "Fraunces";
  color: hsl(0, 0%, 100%);
  font-weight: 900;
  font-size: 56px;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 8px;
  padding-bottom: 90px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #3ebfff;
  padding: 20px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

/* Transform Section */
.transform-section,
.standout-section,
.whatwedo-section,
.testimonial-section,
.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphic {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

.photography {
  background-image: url(../images/desktop/image-photography.jpg);
}

h2 {
  font-family: "Fraunces";
}
/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com) */
