* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* General */
html {
  font-family: "Barlow";
  font-size: 18px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Main Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3ebfff;
  padding: 20px 20px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 20px;
}

header nav ul li a {
  color: hsl(0, 0%, 100%);
}

.contact {
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  font-family: "Fraunces";
  font-size: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
}

h1 {
  text-transform: uppercase;
  font-family: "Fraunces";
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 52px;
  letter-spacing: 6px;
  word-spacing: 8px;
  padding-top: 130px;
}

.hero-section img {
  padding-top: 100px;
}

/* Transform & Standout Sections */
.transform-section,
.standout-section {
  display: flex;
}

.transform-image,
.standout-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

.transform-text,
.standout-text {
  width: 100%;
}

.standout-image {
  background-image: url(../images/desktop/image-stand-out.jpg);
}

.transform-image {
  background-image: url(../images/desktop/image-transform.jpg);
}

h2 {
  font-family: "Fraunces";
  color: hsl(212, 27%, 19%);
  text-align: left;
  font-size: 42px;
  padding-left: 25%;
  padding-top: 15%;
  padding-bottom: 5%;
}

.transform-text p,
.standout-text p {
  padding-left: 25%;
  padding-right: 10%;
  /* color: hsl(213, 9%, 39%); */
  color: hsl(210, 4%, 67%);
  letter-spacing: 0.2px;
  word-spacing: 2px;
  line-height: 25px;
}

/* .item {
  border: 1px solid red;
  width: 50%;
} */
/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com) */ ;
